body.noborder
{
  margin:0; 
  padding:0; 
  border:0px;

  background-color:#111111;

  color:#aaaaaa;
}

div.nav
{
  width: 100%;
}

div.divider
{
  width: 100%;
  height: 3px;
  background-image:url('../images/nav_underline.png');
  background-repeat: repeat-x;
  background-color: #222222;
}

div.main
{
  width: 100%;
  height: 599px;
  background-image:url('../images/gradient.png');
  background-repeat: repeat-x
}

a:link
{
  text-decoration: none;
  color: #aaaaaa;
}

a:visited
{
  text-decoration: none;
  color: #aaaaaa;
}

a:active
{
  text-decoration: none;
  color: #aaaaaa;
}

a:hover
{
  color: #dddddd;
}

table.commandcenter
{
  border:0px solid white;
}
