a:link {color: #8EB4E3}
a:visited {color: #8EB4E3}
a:active {color: #8EB4E3}

TD a:link {color: #333366}
TD a:visited {color: #333366}
TD a:active {color: #333366}

TABLE 
{
  width: 500;
  border-color: black;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

TH 
{
  font-size: 120%;
  background-color: #595959;
  color: #8EB4E3;
  text-align: left;
  margin-left: 5px;
}

TH.right
{
  font-size: 90%;
  background-color: #595959;
  color: #8EB4E3;
  text-align: right;
  margin-right: 5px;
}

TD
{
  background-color: #C6D9F1;
  border-width: 1px 1px 0 0;
  color: black;
  padding: 0px; 
}

TABLE.title
{
  width: 1050;
  border-color: black;
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
}

TABLE.RttFrame
{
  width: 1050;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
}

TD.title
{
  background-color: #03107E;
  color: white;
  font-size: 180%;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  border: 5px;
  border-color: #FFFFFF;
}

TD.RttFrame
{
  background-color: #FFFFFF;
  border-width: 0px 0px 0px 0px;
  color: black;
  padding: 0px; 
  vertical-align: top;
}  

TD.RttFrameRight
{
  background-color: #FFFFFF;
  border-width: 0px 0px 0px 0px;
  color: black;
  padding: 0px; 
  text-align: right;
  vertical-align: top;
}  